@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

/* SLIDER CUSTOM */

.header__content {
  overflow: hidden;
  width: 100%;
}
.header__slider {
  display: flex;
  width: 100%;
  height: 100%;
}
.header__slider-item {
  flex-shrink: 0;
}

/* header */
.header {
  position: relative;
  height: 100vh;
}
.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;

  &-subtitle {
    margin-bottom: 5px;
  }
  &-subtext {
    margin-bottom: 8px;
  }
  &-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
  }
  &-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
    margin-bottom: 20px;
  }
}

.header__slider-button-prev,
.header__slider-button-next {
  z-index: 4;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  top: 40px;
}
.header__slider-button-prev {
  right: 125px;
}
.header__slider-button-next {
  right: 80px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  text-align: right;
  right: 80px;
  left: auto;
  max-width: 920px;
  width: 100%;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-left: 15px;
}
.box.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $green;
  width: 200px;
  border-radius: 0;
  height: 4px;
}
.swiper-pagination {
  display: flex;
  justify-content: end;
  margin-bottom: 80px;
}
.swiper-pagination-bullet {
  background-color: #fff;
  width: 200px;
  border-radius: 0;
  height: 4px;
  opacity: 1;
}
.box.swiper-pagination-bullet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box.swiper-pagination-bullet .bigNumber {
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}
.box.swiper-pagination-bullet .text {
  margin-top: 40px;
  font-weight: 300;
}
.header__aside {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(#fff, 0.25);
  height: 100vh;
  text-align: center;
}

.header-title {
  max-width: 467px;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;

  opacity: 0.07;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  margin-top: 0px;
  &__list {
    text-align: center;
  }
  &__list-link {
    text-align: -webkit-center;
    text-align: center;
    span {
      display: inline-block;
      font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      padding-top: 6px;
      padding-top: 10px;
      margin-bottom: 27px;
    }
  }
}
.header__search {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 25px;
}

.header__date {
  font-size: 72px;
  font-weight: 800;
  line-height: 64px;
  span {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 30px;
    display: block;
  }
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  padding-left: 19px;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../images/marker.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
  }
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 40px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 4s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 120px;
  background-image: url(../images/marker-bg-surf.png);
  background-position: right 200px;
  background-size: auto;
  background-repeat: no-repeat;
}
.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -80px;
}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    height: 750px;
    margin-left: -30px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(#1c2121, 0.85);
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
  &__inner-title {
    font-size: 40px;
    line-height: 36px;
    font-weight: 800;
    padding: 72px 0 0 40px;
    width: 140px;
    position: relative;
    z-index: 1;
  }
  &__inner-location {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    position: absolute;
    white-space: nowrap;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    z-index: 1;
    span {
      font-weight: 100;
    }
  }
  &__inner-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    display: none;
  }
}
.surf-slider__content {
  overflow: hidden;
  width: 100%;
  padding-top: 110px;
  position: relative;
}

.surf-slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.surf-box {
  flex-shrink: 0;
}
.surf-slider__button-next,
.surf-slider__button-prev {
  position: absolute;
  top: 60px;
  right: 80px;
  cursor: pointer;
  opacity: 0.25;
  transition: all 0.3s;
}
.surf-slider__button-prev {
  right: 120px;
}

.surf-slider__button-next:hover,
.surf-slider__button-prev:hover {
  opacity: 1;
}

.surf-box:nth-child(4n + 1) {
  margin-top: 32px;
}
.surf-box:nth-child(4n + 3) {
  margin-top: 89px;
}

.surf-box.swiper-slide-active {
  .surf-box__inner-btn {
    display: block;
  }
}

.surf-box.swiper-slide-active {
  .surf-box__inner {
    &::after {
      background-color: rgba(#1c2121, 0.3);
    }
  }
}
.surf-box {
  .surf-box__inner:hover {
    &::after {
      background-color: rgba(#1c2121, 0.3);
    }
    .surf-box__inner-btn {
      display: block;
    }
  }
}

.slider-map {
  display: flex;
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../images/map-for-slider.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.slider-dots {
  position: relative;

  &__circle {
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 100%;
    cursor: pointer;
  }
  &__content {
    display: none;
    position: absolute;
    width: 285px;
    padding: 30px;
    background-color: rgba(#0f1010, 0.7);
    border-radius: 20px;
    z-index: 2;
  }
  &__content-row {
    display: flex;
    justify-content: space-between;
  }
  &__content-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: $green;
      width: 80px;
      height: 1px;
      bottom: 0;
      left: 0;
    }
  }
  &__content-subtitle {
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  &__content-item {
    text-align: center;
    img {
      margin-bottom: 7px;
      display: inline-block;
    }
  }
  &__content-number {
    font-weight: 800;
    line-height: 23px;
  }
  &__content-name {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}
.slider-dots--1 {
  top: 350px;
  .slider-dots__content {
    top: -232px;
    left: 0;
  }
}
.slider-dots--2 {
  left: 125px;
  top: 300px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--3 {
  left: 288px;
  top: 330px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--4 {
  left: 330px;
  top: 495px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--5 {
  left: 448px;
  top: 215px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--6 {
  left: 495px;
  top: 559px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--7 {
  left: 669px;
  top: 377px;
  .slider-dots__content {
    top: -232px;
    left: -128px;
  }
}
.slider-dots--8 {
  left: 867px;
  top: 490px;
  .slider-dots__content {
    top: -232px;
    left: -150px;
  }
}
.slider-dots.slider-dots--active {
  .slider-dots__content {
    display: block;
  }
  .slider-dots__circle {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/mini-market.svg);
      width: 25px;
      height: 34px;
      background-position: center;
      background-repeat: no-repeat;
      top: -10px;
      left: 0;
    }
  }
}

/* 





*/
.travel {
  position: relative;
  padding: 100px 0 250px;
  background-image: url(../images/coctail.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.travel__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  &-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &-item {
    flex-shrink: 0;
  }
  &-head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &-descr {
    margin-top: -230px;
    padding-left: 132px;
    padding-top: 160px;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: top right;
    img {
      padding-left: 24px;
    }
  }
  &-subtitle {
    text-align: right;
    padding-right: 80px;
    padding-top: 80px;
  }
  &-info {
    display: flex;
    justify-content: space-around;
  }
  &-info-item {
    position: relative;
    min-height: 200px;
    margin-bottom: 66px;
  }
  &-info-subtitle {
    position: absolute;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    text-align: right;
    opacity: 0.5;
    white-space: nowrap;
    top: 100px;
    left: -97px;
    width: 200px;
    height: 0;
  }
  &-info-title {
    font-weight: 800;
    font-size: 40px;
    padding-left: 40px;
    width: 242px;
    span {
      font-weight: 300;
      line-height: 36px;
      font-size: 14px;
      display: block;
      text-align: right;
    }
  }
  &-btn {
    margin-top: 70px;
    text-align: center;
  }
}
.travel__slider-button-prev,
.travel__slider-button-next {
  opacity: 0.5;
  z-index: 4;
  position: absolute;
  top: 180px;
  right: 0;
  cursor: pointer;
}
.travel__slider-button-prev {
  right: 125px;
}
.travel__slider-button-next {
  right: 80px;
}

/* 

sleep



*/

.sleep {
  position: relative;
  padding: 0px 0 100px;
  background-image: url(../images/flower-big.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.sleep__slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  &-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &-item {
    flex-shrink: 0;
  }
  &-head {
    background-repeat: no-repeat;
    background-position: top left;
    min-height: 780px;
  }
  &-descr {
    margin-top: -230px;
    padding-left: 132px;
    padding-top: 160px;
    min-height: 380px;
    background-repeat: no-repeat;
    background-position: top right;
    img {
      padding-left: 24px;
    }
  }
  &-subtitle {
    text-align: right;
    padding-right: 80px;
  }
  &-info {
    display: flex;
    justify-content: space-around;
  }
  &-info-item {
    position: relative;
    min-height: 200px;
    margin-bottom: 66px;
  }
  &-info-subtitle {
    position: absolute;
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 8px;
    transform: rotate(-90deg);
    text-align: right;
    opacity: 0.5;
    white-space: nowrap;
    top: 100px;
    left: -97px;
    width: 200px;
    height: 0;
  }
  &-info-title {
    font-weight: 800;
    font-size: 40px;
    padding-left: 40px;
    width: 242px;
    position: relative;
    &-info-span {
      font-weight: 300;
      line-height: 36px;
      font-size: 14px;
      display: block;
      text-align: right;
    }
  }
  &-btn {
    margin-top: 70px;
    text-align: center;
  }
}
.sleep__slider-button-prev,
.sleep__slider-button-next {
  opacity: 0.5;
  z-index: 4;
  position: absolute;
  top: 180px;
  right: 0;
  cursor: pointer;
}
.sleep__slider-button-prev {
  right: 125px;
}
.sleep__slider-button-next {
  right: 80px;
}

.holder__star-list {
  margin-left: -15px;
  display: flex;
  li {
    margin-right: -25px;
  }
  display: flex;
  img {
    padding-left: 0;
  }
}

/* 

shop



*/

.shop {
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  &__slider {
    padding-left: 132px;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  &__slider-content {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__slider-item {
    flex-shrink: 0;
  }
  &__slider-info {
    max-width: 480px;
    width: 100%;
    margin-right: 40px;
    padding-top: 160px;
  }
  &__slider-inner {
    display: flex;
  }
  &__slider-price {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 64px;
    sup {
      font-size: 18px;
      padding-left: 2px;
    }
  }
  &__slider-products {
    display: flex;
    align-items: flex-end;
    margin-left: 160px;
  }
  &__extras {
    padding-left: 150px;
  }
  &__extras-inner {
    display: flex;
  }
  &__extras-title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
  }
  &__extras-box {
    text-align: center;
    margin-right: 57px;
  }
  &__extras-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
  }
  &__extras-price {
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
  }
  &__extras-img {
    min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 47px;
}

.shop__slider-button-prev,
.shop__slider-button-next {
  opacity: 0.5;
  z-index: 4;
  position: absolute;
  top: 0px;
  right: 0;
  cursor: pointer;
}
.shop__slider-button-prev {
  right: 125px;
}
.shop__slider-button-next {
  right: 80px;
}

.surfboard {
  position: relative;
  &-box {
    position: absolute;

    display: flex;
    align-items: center;
  }
  &-box__position-1 {
    top: 200px;
    right: 30px;
  }
  &-box__position-2 {
    top: 310px;
    left: 10px;
  }
  &-box__position-3 {
    bottom: 65px;
    left: 52px;
    .surfboard-box__content {
      display: none;
      position: absolute;
      width: 400px;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      padding-left: 126px;
      left: -490px;
      &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: auto;
        right: -80px;
        top: 50%;
      }
    }
  }
  &-box__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    z-index: 10;
  }
  &-box__circle-row {
    background-color: $green;
    position: absolute;
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.2s;

    + .surfboard-box__circle-row.active {
      transform: translateX(-50%) rotate(90deg);
    }
    + .surfboard-box__circle-row {
      transform: translate(-50%) rotate(0);
    }
  }
  &-box__content {
    display: none;
    position: absolute;
    width: 400px;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    padding-left: 126px;
    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #fff;
      left: 33px;
      top: 50%;
    }
  }
}

.surfboard-box__content.active {
  display: block;
}

.footer {
  padding: 280px 0 34px;
  text-align: center;
  &__copy {
    margin-top: 27px;
    font-size: 12px;
    font-weight: 300;
    opacity: 0.5;
    letter-spacing: 1.05px;
  }
  .btn {
    span {
      padding: 17px;
      &::after {
        display: none;
      }
    }
  }
}

@import "media";
